/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

/* VARIABLES */
:root{
  --main-bg-color: #41B3A3;
  --main-text-color: #ffffff;
  --button-color: #E27D60;
  --accent-color: #C38D9E;
  --main-font: 'Bebas Neue', cursive;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html{
  height: 100%;
}

body{
  font-size: 62.5%;
  background: rgba(128,128,128,1);
  min-height: 100%;
  display: flex;
  color: var(--main-text-color);
  font-family: var(--main-font);
}

html, body{
  margin: 0;
  padding: 0;
}

#container{
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-bg-color);
}

#header{
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 3px dotted var(--accent-color);
}

header{
  width: 70%;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#header li>a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--button-color);
}

#mainApp{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}

h1{
  font-size: 3rem;
  margin: 2rem 0;
}

#addRemoveHalfPage,
#tableHalfPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#addRemoveHalfPage>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* #tableHalfPage{

} */

#userList{
  display: none;
}

#tableData{
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

/* #table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
} */

#titleRow{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 1rem;
}

th{
  font-size: 1.4rem;
  color: var(--accent-color);
  /* padding: 1rem 0; */
}

/* th+th{
  border-left: 1px dotted black;
  line-height: .2rem;
} */

thead th{
  font-size: 3rem;
  color: white;
}

.userTableRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-left: 1rem;
}

td{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1rem;
  align-items: flex-start;
  /* margin: 0 .4rem; */
  padding: .5rem;
}

#dbButtons{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

button{
  font-size: 2rem;
  background: var(--button-color);
  border-radius: 10px;
  margin: 1rem 0;
  padding: .4rem;
  border: none;
  color: var(--main-text-color)
}

.wrapper {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}
.form-row {
  padding: .5em;
}
.form-row > label {
  font-size: 1.5rem;
  padding: .5em 1em .5em 0;
}
.form-row > input{
  padding: .5em;
  font-size: 1rem;
}

#removeUserLabel{
  font-size: 1.5rem;
  padding: .5rem;
}

#removeUser{
  font-size: 1.5rem;
  width: 5rem;
}